.contenedor{
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 100%;
    background: #17a1b0;
}

th, td {
    width: 25%;
    text-align: center;
    border: 1px solid #000;
    vertical-align: top;
    border-spacing: 0;
    padding: 5px;
}

th{
    background: #21361d;
    color: #fff;
}

td{
    background: #97e288;
}

/* Aplica estilos a todos los elementos hijos de la clase 'unica' */
.unica > td{
    background: #7fc570;
}

.item{
    vertical-align: middle;
}